{% extends 'home_app/base.html' %}
{% block title %}Nearby Food{% endblock %}

{% block content %}
<section>
    <div class="section-head">
        <h1>Nearby Food Donations</h1>
    </div>

    <div class="list-grid">
        {% for distance, item in nearby_items %}
            <div class="card food-card">
                <div class="food-card-top">
                    <div class="food-card-left">
                        <h3>{{ item.food_name }}</h3>
                        <p><strong>Quantity:</strong> {{ item.quantity }}</p>
                        <p><strong>Location:</strong> {{ item.location }}</p>
<!--                        <p><strong>Distance:</strong> {{ distance|floatformat:2 }} km</p>-->
                        <a href="{% url 'claim_food' item.id %}" class="btn-small">Claim</a>
                    </div>

                    {% if item.image %}
                    <div class="food-img-wrap">
                        <img src="{{ item.image.url }}" alt="{{ item.food_name }}" class="food-img">
                    </div>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <div class="card empty-card">No nearby food found.</div>
        {% endfor %}
    </div>
</section>
{% endblock %}